<div class="jumbotron bg-white">
  <h1 class="display-4">Discover the Possibilities!</h1>
  <br>
  <p>Our theater allows you to be entertained the way that you want. This includes watching DVDs, Blu-Rays, Netflix, Amazon, VUDU, slideshows, playing video games, or anything else that you might imagine using a projector and a screen.</p>
  <p>Scroll down to see the different features and uses for out theater system.</p>
</div>

<!-- Watch DVDs/Blu Rays -->
<div class="jumbotron">
  <div class="row">
    <div class="col-sm-6">
      <div class="center-vertical">
        <h1 class="display-5">Watch DVDs and Blu-Rays</h1>
        <br>
        <p>You can watch any DVD or Blu-Ray disk that you supply on our theater system with a guarantee that the player will be compatible.</p>
      </div>
    </div>
    <div class="col-sm-4 offset-sm-1">
      <div class="row center-vertical">
        <div class="col-sm-6">
          <img class="img-fluid" src="../../../assets/Blu-Ray-Logo.svg">
        </div>
        <div class="col-sm-6">
          <img class="img-fluid" src="../../../assets/320px-DVD_logo.svg.png">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Watch On Apps -->
<div class="jumbotron bg-white">
  <div class="row">
    <div class="col-sm-3 offset-sm-1">
      <div class="row">
        <div class="col-sm-6">
          <img class="img-fluid" src="../../../assets/Netflix_2015_logo.svg">
        </div>
        <div class="col-sm-6">
          <img class="img-fluid" src="../../../assets/Amazon-Instant-Video.png">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-6">
          <br>
          <img class="img-fluid" src="../../../assets/VUDU_logo_plain_2014.png">
        </div>
        <div class="col-sm-6">
          <img class="img-fluid" src="../../../assets/Youtube_icon.svg">
        </div>
      </div>
    </div>
    <div class="col-sm-6 offset-sm-1">
      <div class="center-vertical">
        <h1 class="display-5">Watch On Your Favorite Apps</h1>
        <br>
        <p>With our wifi extender, we can increase the range of your home network to reach the outdoors. Connect your laptop, Chromecast, Apple TV, Roku or other streaming device to see your favorite content on the big screen.</p>
      </div>
    </div>
  </div>
</div>

<!-- Play Video Games -->
<div class="jumbotron">
  <div class="row">
    <div class="col-sm-6">
      <div class="center-vertical">
        <h1 class="display-5">Play Video Games</h1>
        <br>
        <p>Hook up your Xbox, Playstation, Nintendo Switch, computer or any other gaming console to play games with your friends outdoors. Use our wifi extender to game online. Who says you can't get some fresh air while gaming?</p>
      </div>
    </div>
    <div class="col-sm-4 offset-sm-1">
      <div class="row center-vertical">
        <div class="col-sm-4">
          <img class="img-fluid" src="../../../assets/Xbox_Logo.svg">
        </div>
        <div class="col-sm-4">
          <img class="img-fluid" src="../../../assets/Nintendo_switch_logo.png">
        </div>
        <div class="col-sm-4">
          <img class="img-fluid" src="../../../assets/PlayStation_logo.svg">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Watch Slideshows -->
<div class="jumbotron bg-white">
  <div class="row">
    <div class="col-sm-4 offset-sm-1">
      <img class="img-fluid" src="../../../assets/slideshow.png">
    </div>
    <div class="col-sm-6">
      <div class="center-vertical">
        <h1 class="display-5">Watch Slideshows</h1>
        <br>
        <p>Put a slideshow on a USB drive or bring out your laptop. Our setup is perfect for sharing your precious moments with family and friends indoors or out.</p>
      </div>
    </div>
  </div>
</div>

<!-- Weddings and Receptions -->
<div class="jumbotron">
  <div class="row">
    <div class="col-sm-7">
      <div class="center-vertical">
        <h1 class="display-5">Weddings and Receptions</h1>
        <br>
        <p>Make sure that everything is right on your special day. We will provide the projector, screen and setup. Just give us your slideshows and videos and we will take care of the rest.</p>
      </div>
    </div>
    <div class="col-sm-4 offset-sm-1">
      <div class="row center-vertical">
        <div class="col-sm-8">
          <img class="img-fluid" src="../../../assets/rings.png">
        </div>
        <!--<div class="col-sm-6">
          <img class="img-fluid" src="../../../assets/320px-DVD_logo.svg.png">
        </div>-->
      </div>
    </div>
  </div>
</div>
