<swiper [config]="config">
  <div class="swiper-wrapper">
    <div class="swiper-slide" style="background-image:url(../../../assets/movie-blanket.jpg)"></div>
    <div class="swiper-slide" style="background-image:url(../../../assets/movie-chairs.jpg)"></div>
    <div class="swiper-slide" style="background-image:url(../../../assets/movie-inside.jpg)"></div>
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination swiper-pagination-white"></div>
  <!-- Add Arrows -->
  <!--<div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>-->
</swiper>

<div class="jumbotron">
  <h1 class="display-4">Have A Backyard Experience</h1>
  <p>Our portable outdoors theater is exactly what you need to spice up a party or have a relaxing evening in the outdoors.
    The process is really simple. All you have to do is pick a spot and a movie and we will take care of the rest!</p>
  <p>Click below to reserve your backyard experience!</p>
  <p>
    <a class="btn btn-primary btn-lg" href="#">Make a reservation</a>
    <a class="btn btn-info btn-lg" href="#">Contact Us</a>
  </p>
</div>

<div class="jumbotron bg-white">
  <h2>Testimonials</h2>
  <br>

  <div class="row">
    <div class="col">
      <div class="card card-inverse card-primary text-xs-center">
        <div class="card-block">
          <blockquote class="card-blockquote">
            <p>This was the coolest experience I have had all summer!</p>
            <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
          </blockquote>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card card-inverse card-primary text-xs-center">
        <div class="card-block">
          <blockquote class="card-blockquote">
            <p>The screen was the perfect size. I really felt immersed in the movie.</p>
            <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
          </blockquote>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card card-inverse card-primary text-xs-center">
        <div class="card-block">
          <blockquote class="card-blockquote">
            <p>I have always wanted to watch a movie in my backyard. The Backyard View has now made this possible for my family.</p>
            <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
