<div class="jumbotron bg-white">
  <h1 class="display-4">Pricing</h1>
  <br>
  <p>We want to make sure that your family gets the experience they deserve. Our prices are low and competitve compared to the other options in this area.</p>
  <p>The base price for a rental is $50. This is what you will get:</p>
  <ul>
    <li>The projector</li>
    <li>The projector screen</li>
    <li>The sound system</li>
    <li>Power extension cables</li>
    <li>A blu ray player</li>
    <li>A wifi extender</li>
    <li>Free setup</li>
    <li>Two hours of equipment use time</li>
  </ul>
</div>